# Pandas
"*pandas* is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language." - **https://pandas.pydata.org/**

*pandas* provide a number of useful functions for importing and analyzing data. It provides flexible data structures and operations to easily manipulate the data. *pandas* require *NumPy*.

This tutorial demonstrates use pandas to create and manipulate data structures and reading data from csv or txt files.

To use *pandas* we must first load it into our workspace using the following statement
```
import pandas as pd
```

In [4]:
# Import the `pandas` library as `pd`
import pandas as pd
#print version of pandas
pd.__version__

'0.23.0'

## Series
A *series* is a data structure which can hold a number of objects. It's like a one dimentional array.

In [5]:
#create series with pandas
ser1 = pd.Series([1, 2, 3])
print(ser1)
serA = pd.Series(['a', 'b', 'c'])
print(serA)

ser1A = pd.Series(['a', 'b', 'c',22.0])
print(ser1A)
print(ser1A[1])
print(ser1A[3]*2)

print(ser1A.index)
print(ser1A.values)

#series from dict
dict1 = {'a' : 2, 'b' : 1, 'c' : 3}
serD=pd.Series(dict1)
print(serD)
print(serD[0])
print(serD['c'])

print(serD.index)
print(serD.values)

#define your own index
cars = ['NSX', 'R8', 'chiron', '488 GTB']
mpg = [22, 22, 14, 22]
serCars = pd.Series(mpg, index=cars)
print(serCars)
print(serCars[['NSX','chiron']])

0    1
1    2
2    3
dtype: int64
0    a
1    b
2    c
dtype: object
0     a
1     b
2     c
3    22
dtype: object
b
44.0
RangeIndex(start=0, stop=4, step=1)
['a' 'b' 'c' 22.0]
a    2
b    1
c    3
dtype: int64
2
3
Index(['a', 'b', 'c'], dtype='object')
[2 1 3]
NSX        22
R8         22
chiron     14
488 GTB    22
dtype: int64
NSX       22
chiron    14
dtype: int64

## Dataframe
A *dataframe* can hold tabular data with rows and columns. It is logically same as an excel sheet. Each column in a data frame is a series.

In [6]:
#data frame from dict example
d = {'Col1' : pd. Series ([1. , 2., 3.] ,index =[ '1', 'b', 'c']) , 'Col2' : pd. Series ([2. , 9., 4.] ,index =[ 'a', 'b', 'c'])}
df1 = pd. DataFrame (d)
print(df1)

#data frame from series
df2=pd.concat([serA,ser1A], axis=1)
print(df2)

#using lists
states=['AZ','CA','IA','KS','NY']
statesFull=['Arizona','California','Iowa','Kansas','New York']
dfStates=pd. DataFrame(list(zip(states,statesFull)))
print(dfStates)
#change column names
print("After changing col names")
dfStates.columns = ['Abb', 'Name']
print(dfStates)
#see dimentions
print(dfStates.shape)

   Col1  Col2
1   1.0   NaN
a   NaN   2.0
b   2.0   9.0
c   3.0   4.0
     0   1
0    a   a
1    b   b
2    c   c
3  NaN  22
    0           1
0  AZ     Arizona
1  CA  California
2  IA        Iowa
3  KS      Kansas
4  NY    New York
After changing col names
  Abb        Name
0  AZ     Arizona
1  CA  California
2  IA        Iowa
3  KS      Kansas
4  NY    New York
(5, 2)

## Dataframe indexing
With pandas dataframes, **[]** operator selects columns by name. The method *iloc* is used to select rows by the integer index.

In [45]:
#see column names
print(dfStates.columns)

# select Name column
print(dfStates['Name'])

#select 1st column
print(dfStates[dfStates.columns[0]])

#print first n rows
n=3
print(dfStates.head(n))
#print last n rows
print(dfStates.tail(n))

#print 2nd row
print(dfStates.iloc[[1]])
#or use splice operator
print(dfStates[1:2])

Index(['Abb', 'Name'], dtype='object')
0       Arizona
1    California
2          Iowa
3        Kansas
4      New York
Name: Name, dtype: object
0    AZ
1    CA
2    IA
3    KS
4    NY
Name: Abb, dtype: object
  Abb        Name
0  AZ     Arizona
1  CA  California
2  IA        Iowa
  Abb      Name
2  IA      Iowa
3  KS    Kansas
4  NY  New York
  Abb        Name
1  CA  California
  Abb        Name
1  CA  California

## Import data
Import .csv data from storage into python workspace using pandas. Then we use pandas functions and tools to explore the dataset.

In [46]:
df = pd.read_csv("data/iris.data.csv")
#df=pd.read_csv("https://raw.githubusercontent.com/urmi-21/python3-dataScience18/master/data/iris.data.csv")
#see df dimentions
print(df.shape)
#see datatypes
print(df.dtypes)
#print first 5 rows
print(df.head(5))

(150, 5)
sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
class           object
dtype: object
   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

Find summary statistics of the data

In [8]:
#get data summary
print("Data summary")
print (df.describe())

#print unique class values
df['class'].unique()

#get mean sepallength
print("mean fisrt col "+str(df['sepallength'].mean()))
#refers to first column
print("mean fisrt col "+str(df[df.columns[0]].mean()))
#find mean of sepallength by class
print("mean of sepallength by class: "+str(df.groupby('class')['sepallength'].mean()))
#find mean for each class
print("means by class"+str(df.groupby('class').mean()))

Data summary
       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000
mean fisrt col 5.843333333333335
mean fisrt col 5.843333333333335
mean of sepallength by class: class
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepallength, dtype: float64
means by class                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

Manipulate data using *apply*, *applymap* and *map* functions.

1. *apply* method is used for applying a function on 1D arrays to each column or row.
2. *applymap* method is used for applying element-wise operations on dataframes.
3. *map* map method for applying an element-wise functions on series.

In [54]:
#apply function
import math
def logX(x):
    return math.log(x)
#create a new column, logsepallength which is log of sepallength column
df['logsepallength'] = df['sepallength'].apply(logX)
#create a new column, logpetallength which is log of petallength column using lambda function
df['logpetallength'] = df['petallength'].apply(lambda x: math.log(x))
print(df[df.columns[:-3]].apply(lambda x: x.max() - x.min()))
print(df[df.columns[:-3]].apply(lambda x: x.max() - x.min(), axis=1))
print(df.head(5))
#log whole dataset and save as adfLog
df2=df.drop('class', axis=1).apply(lambda x: x+10 )
df2['class']=df['class']
dfLog=df.drop('logsepallength', axis=1).drop('logpetallength', axis=1).drop('class', axis=1).applymap(lambda x: math.log(x))
#copyback class columns which was dropped before
dfLog['class']=df['class']
print(dfLog.head(5))

#example of map to sqrt sepallength
df['logsepallength'].map(lambda x: math.sqrt(x)).head(3)

sepallength    3.6
sepalwidth     2.4
petallength    5.9
petalwidth     2.4
dtype: float64
0      4.9
1      4.7
2      4.5
3      4.4
4      4.8
5      5.0
6      4.3
7      4.8
8      4.2
9      4.8
10     5.2
11     4.6
12     4.7
13     4.2
14     5.6
15     5.3
16     5.0
17     4.8
18     5.4
19     4.8
20     5.2
21     4.7
22     4.4
23     4.6
24     4.6
25     4.8
26     4.6
27     5.0
28     5.0
29     4.5
      ...
120    4.6
121    3.6
122    5.7
123    4.5
124    4.6
125    5.4
126    4.4
127    4.3
128    4.3
129    5.6
130    5.5
131    5.9
132    4.2
133    4.8
134    4.7
135    5.4
136    3.9
137    4.6
138    4.2
139    4.8
140    4.3
141    4.6
142    3.9
143    4.5
144    4.2
145    4.4
146    4.4
147    4.5
148    3.9
149    4.1
Length: 150, dtype: float64
   sepallength  sepalwidth  petallength  petalwidth        class  \
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

   logsepallength  logpetallength
0        1.629241        0.336472
1        1.589235        0.336472
2        1.547563        0.262364
3        1.526056        0.405465
4        1.609438        0.336472
   sepallength  sepalwidth  petallength  petalwidth        class
0     1.629241    1.252763     0.336472   -1.609438  Iris-setosa
1     1.589235    1.098612     0.336472   -1.609438  Iris-setosa
2     1.547563    1.163151     0.262364   -1.609438  Iris-setosa
3     1.526056    1.131402     0.405465   -1.609438  Iris-setosa
4     1.609438    1.280934     0.336472   -1.609438  Iris-setosa

0    1.276417
1    1.260649
2    1.244011
Name: logsepallength, dtype: float64

#### Find the correlations between the columns.

In [69]:
corrMat=dfLog[dfLog.columns[:-1]].corr()
print(corrMat)

#find highest and lowest corr values 
corrMat['sepallength'].sort_values(ascending=False)

             sepallength  sepalwidth  petallength  petalwidth
sepallength     1.000000   -0.103746     0.841301    0.799921
sepalwidth     -0.103746    1.000000    -0.465218   -0.434430
petallength     0.841301   -0.465218     1.000000    0.962736
petalwidth      0.799921   -0.434430     0.962736    1.000000

sepallength    1.000000
petallength    0.841301
petalwidth     0.799921
sepalwidth    -0.103746
Name: sepallength, dtype: float64

#### Group data by class using *groupby*
Can use *groupby* to split dataframe by columns or rows. General syntax is

```
df.groupby('colname')
df.groupby(['colname1','colname2'])
df.groupby(key,axis=1)
```

In [85]:
import numpy as np
#groupby class
grouped=dfLog.groupby('class')
print(grouped)
#see groups
print(grouped.groups)

#print group mnames
print ("Group names:",grouped.groups.keys())

#get group by key
print (grouped.get_group('Iris-versicolor'))

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001F23DC4DB38>
{'Iris-setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
           dtype='int64'), 'Iris-versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
            67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
            84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64'), 'Iris-virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
            113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
            126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64')}
Group names: dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
    sepallength  sepalwidth  petallength  petalwidth            class
50     1.945910    1.163151     1.547563    0.336472  Iris-versicolor
51     1.856298    1.163151     1.504077    0.405465  Iris-versicolor
52     1.931521    1.131402     1.589235    0.405465  Iris-versicolor
53     1.704748    0.832909     1.386294    0.262364  Iris-versicolor
54     1.871802    1.029619     1.526056    0.405465  Iris-versicolor
55     1.740466    1.029619     1.504077    0.262364  Iris-versicolor
56     1.840550    1.193922     1.547563    0.470004  Iris-versicolor
57     1.589235    0.875469     1.193922    0.000000  Iris-versicolor
58     1.887070    1.064711     1.526056    0.262364  Iris-versicolor
59     1.648659    0.993252     1.360977    0.336472  Iris-versicolor
60     1.609438    0.693147     1.252763    0.000000  Iris-versicolor
61     1.774952    1.098612     1.435085    0.405465  Iris-versicolor
62     1.791759    0.788457     1.386294    0.000000  Iris-versicolor
63     1.808289    1.064711     1.547563    0.336472  Iris-versicolor
64     1.722767    1.064711     1.280934    0.262364  Iris-versicolor
65     1.902108    1.131402     1.481605    0.336472  Iris-versicolor
66     1.722767    1.098612     1.504077    0.405465  Iris-versicolor
67     1.757858    0.993252     1.410987    0.000000  Iris-versicolor
68     1.824549    0.788457     1.504077    0.405465  Iris-versicolor
69     1.722767    0.916291     1.360977    0.095310  Iris-versicolor
70     1.774952    1.163151     1.568616    0.587787  Iris-versicolor
71     1.808289    1.029619     1.386294    0.262364  Iris-versicolor
72     1.840550    0.916291     1.589235    0.405465  Iris-versicolor
73     1.808289    1.029619     1.547563    0.182322  Iris-versicolor
74     1.856298    1.064711     1.458615    0.262364  Iris-versicolor
75     1.887070    1.098612     1.481605    0.336472  Iris-versicolor
76     1.916923    1.029619     1.568616    0.336472  Iris-versicolor
77     1.902108    1.098612     1.609438    0.530628  Iris-versicolor
78     1.791759    1.064711     1.504077    0.405465  Iris-versicolor
79     1.740466    0.955511     1.252763    0.000000  Iris-versicolor
80     1.704748    0.875469     1.335001    0.095310  Iris-versicolor
81     1.704748    0.875469     1.308333    0.000000  Iris-versicolor
82     1.757858    0.993252     1.360977    0.182322  Iris-versicolor
83     1.791759    0.993252     1.629241    0.470004  Iris-versicolor
84     1.686399    1.098612     1.504077    0.405465  Iris-versicolor
85     1.791759    1.223775     1.504077    0.470004  Iris-versicolor
86     1.902108    1.131402     1.547563    0.405465  Iris-versicolor
87     1.840550    0.832909     1.481605    0.262364  Iris-versicolor
88     1.722767    1.098612     1.410987    0.262364  Iris-versicolor
89     1.704748    0.916291     1.386294    0.262364  Iris-versicolor
90     1.704748    0.955511     1.481605    0.182322  Iris-versicolor
91     1.808289    1.098612     1.526056    0.336472  Iris-versicolor
92     1.757858    0.955511     1.386294    0.182322  Iris-versicolor
93     1.609438    0.832909     1.193922    0.000000  Iris-versicolor
94     1.722767    0.993252     1.435085    0.262364  Iris-versicolor
95     1.740466    1.098612     1.435085    0.182322  Iris-versicolor
96     1.740466    1.064711     1.435085    0.262364  Iris-versicolor
97     1.824549    1.064711     1.458615    0.262364  Iris-versicolor
98     1.629241    0.916291     1.098612    0.095310  Iris-versicolor
99     1.740466    1.029619     1.410987    0.262364  Iris-versicolor
Mean values class
Iris-setosa        1.608205
Iris-versicolor    1.777319
Iris-virginica     1.880654
Name: sepallength, dtype: float64

#### Aggregated functions
Aggregated functions returns an aggregate value for each group. *agg* function is used to aggregating data.

In [90]:
#get mean values 
print ("Mean values",grouped.agg(np.mean))
print ("size ",grouped['sepallength'].agg(np.size))
grouped.agg(['min', 'max'])

Mean values                  sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa         1.608205    1.222865     0.374139   -1.498512
Iris-versicolor     1.777319    1.012282     1.442930    0.270933
Iris-virginica      1.880654    1.084180     1.709426    0.696748
size  class
Iris-setosa        50.0
Iris-versicolor    50.0
Iris-virginica     50.0
Name: sepallength, dtype: float64

                sepallength           sepalwidth           petallength  \
                        min       max        min       max         min
class
Iris-setosa        1.458615  1.757858   0.832909  1.481605    0.000000
Iris-versicolor    1.589235  1.945910   0.693147  1.223775    1.098612
Iris-virginica     1.589235  2.066863   0.788457  1.335001    1.504077

                          petalwidth
                      max        min       max
class
Iris-setosa      0.641854  -2.302585 -0.510826
Iris-versicolor  1.629241   0.000000  0.587787
Iris-virginica   1.931521   0.336472  0.916291